$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI";

$info: #0984e3;
$text: #fff;

@function h($num) {
  @return $num / 2;
}

@mixin card ($radius, $padding) {
  background: white;
  padding: $padding;
  margin: 20px;
  box-shadow: 4px 4px 10px lightgray;
  border-radius: $radius;
}
.box {
  background: $info;
  height: #{h(800)}px;//une interpolation
  width: 800px;
}

//MIXIN
.card {
  @include card(12px, 50px);// invocation de la mixin card
  color: red;
}